<nav class="navbar navbar-expand navbar-dark p-3">
  <a class="navbar-brand" routerLink="/dashboard">Dashboard</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item active m-1">
        <a class="nav-link" routerLink="/category">Category</a>
      </li>

      <li class="nav-item active m-1">
        <a class="nav-link" routerLink="/brand">Brand</a>
      </li>

      <li class="nav-item active m-1">
        <a class="nav-link" routerLink="/products">Products</a>
      </li>

      <li class="nav-item active m-1">
        <a class="nav-link" routerLink="/users">User List</a>
      </li>

      <li class="nav-item active m-1">
        <a class="nav-link" routerLink="/changePassword">Change Password</a>
      </li>

      <li class="nav-item active m-1">
        <a class="nav-link" (click)="logout()">Logout</a>
      </li>
    </ul>
  </div>
</nav>

