ul {
    max-width: 350px;
    max-height: 100vh;
    overflow-y: scroll;
    margin-top: 1rem;
}

li {
    padding: 7px;
}

.container {
  height: 100vh;
  min-height: 28rem;
  max-width: 30rem;
}

.panel {
  margin-top: 2rem;
  box-shadow: 10px 10px 80px rgb(218, 218, 218);
  border-radius: 8px;
}

.delBtn {
  color: darkred;
}

.delBtn:hover {
  color: darkblue;
}